
<div class="col-md-12">
	<h3 class="mb-3 text-center">Add Stock</h3>
	<div class="form-group row">
	  <label class="control-label col-md-12">Stock Name</label>
	  <input type="text" [(ngModel)]="stockDetails.stockName" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Stock Ticker</label>
	  <input type="text" [(ngModel)]="stockDetails.stockTicker" class="form-control">
	</div>
    <div class="form-group row">
	  <label class="control-label col-md-12">Buy or sell</label>
	  <input type="text" [(ngModel)]="stockDetails.buyOrSell" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	  <input type="text" [(ngModel)]="stockDetails.price" class="form-control">
	</div>

    <div class="form-group row">
	  <label class="control-label col-md-12">volume</label>
	  <input type="text" [(ngModel)]="stockDetails.volume" class="form-control">
	</div>

    <div class="form-group row">
	  <label class="control-label col-md-12"></label>
	  <input [hidden]="true" type="text" [(ngModel)]="stockDetails.statusCodeCity" class="form-control">
	</div>
    <div class="form-group row">
	  <label class="control-label col-md-12"></label>
	  <input [hidden]="true" [(ngModel)]="stockDetails.dateTime" class="form-control" >
	</div>
	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block" (click)="addStock()">Add Stock</button>
	</div>
</div>
