<div><button class="btn btn-outline-primary"(click)="check(0,0)">Get my expenditure</button></div>
<ngx-charts-advanced-pie-chart 
      [results]="data"
      [gradient]="true" 
       [view]="[700, 450]">
</ngx-charts-advanced-pie-chart>
